@media (min-width: 768px) {

  body {
    background: #090909;
  }

  .phone {
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
  }

  .hero {
    min-height: 520px;
    padding: 70px 60px;
  }

  .hero h1 {
    font-size: 64px;
  }

  .hero h1 span {
    font-size: 42px;
  }

  .moving-cycle {
    font-size: 75px;
    margin: 35px auto 15px;
  }

  .playlist {
    max-width: 900px;
    margin: 30px auto;
    padding: 25px;
  }

  .youtube-wrap iframe {
    height: 500px;
  }

  footer {
    padding: 35px;
  }
}
